@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, label, span, p, h3,h4,h5, a,li{
    font-family: 'Raleway', sans-serif;
}

#div-scroll::-webkit-scrollbar{
    display: none;
}

.nav-vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }